{% extends 'hospital/homebase.html' %} {% block content %}

<br />
<br />

<div class="jumbotron" style="margin-bottom: 0px; text-align: center">
  <h1 class="display-4" style="text-align: center">Hello, Patient</h1>
  <p class="lead">Welcome to Hospital Management System.</p>
  <hr class="my-4" />

  <p class="lead">
    <a 
      class="btn btn-danger btn-lg"
      href="/patientsignup"
      role="button"
      style="background-image: linear-gradient(to right, #275cec, #26d0ce)"
      >Register Your Account</a
    >
    <a 
      class="btn btn-success btn-lg"
      href="/patientlogin"
      role="button"
      style="background-image: linear-gradient(to right, #be125f, #be845c)"
      >Login</a
    >
  </p>
</div>

{% endblock content %}
